<!--
 * @Author: honghong
 * @Date: 2019-10-16 15:47:22
 * @LastEditors: honghong
 * @LastEditTime: 2019-10-16 15:47:22
 * @Description: 
 * @email: 3300536651@qq.com
 -->
<div class="fc-templatedetail">
  <nz-descriptions nzTitle="基本信息">
    <nz-descriptions-item nzTitle="姓名">青成</nz-descriptions-item>
    <nz-descriptions-item nzTitle="电话">18100000000</nz-descriptions-item>
    <nz-descriptions-item nzTitle="居住地">中国, 北京</nz-descriptions-item>
    <nz-descriptions-item nzTitle="备注">我是一名前端开发工程师</nz-descriptions-item>
    <nz-descriptions-item nzTitle="地址">
      现居于中国，北京
    </nz-descriptions-item>
  </nz-descriptions>
  <nz-descriptions nzTitle="基本信息">
    <nz-descriptions-item nzTitle="姓名">青成</nz-descriptions-item>
    <nz-descriptions-item nzTitle="电话">18100000000</nz-descriptions-item>
    <nz-descriptions-item nzTitle="居住地">中国, 北京</nz-descriptions-item>
    <nz-descriptions-item nzTitle="备注">我是一名前端开发工程师</nz-descriptions-item>
    <nz-descriptions-item nzTitle="地址">
      现居于中国，北京
    </nz-descriptions-item>
  </nz-descriptions>
  <nz-descriptions nzTitle="基本信息">
    <nz-descriptions-item nzTitle="姓名">青成</nz-descriptions-item>
    <nz-descriptions-item nzTitle="电话">18100000000</nz-descriptions-item>
    <nz-descriptions-item nzTitle="居住地">中国, 北京</nz-descriptions-item>
    <nz-descriptions-item nzTitle="备注">我是一名前端开发工程师</nz-descriptions-item>
    <nz-descriptions-item nzTitle="地址">
      现居于中国，北京
    </nz-descriptions-item>
  </nz-descriptions>
  <nz-descriptions nzTitle="基本信息">
    <nz-descriptions-item nzTitle="姓名">青成</nz-descriptions-item>
    <nz-descriptions-item nzTitle="电话">18100000000</nz-descriptions-item>
    <nz-descriptions-item nzTitle="居住地">中国, 北京</nz-descriptions-item>
    <nz-descriptions-item nzTitle="备注">我是一名前端开发工程师</nz-descriptions-item>
    <nz-descriptions-item nzTitle="地址">
      现居于中国，北京
    </nz-descriptions-item>
  </nz-descriptions>
  <nz-descriptions nzTitle="基本信息">
    <nz-descriptions-item nzTitle="姓名">青成</nz-descriptions-item>
    <nz-descriptions-item nzTitle="电话">18100000000</nz-descriptions-item>
    <nz-descriptions-item nzTitle="居住地">中国, 北京</nz-descriptions-item>
    <nz-descriptions-item nzTitle="备注">我是一名前端开发工程师</nz-descriptions-item>
    <nz-descriptions-item nzTitle="地址">
      现居于中国，北京
    </nz-descriptions-item>
  </nz-descriptions>
</div>
