<nz-layout class="layout">
  <!-- 顶部工具栏 -->
  <nz-header>
    <div class="logo">
      <i class="icon iconfont fc-icon-tielu"></i>
      <span class="logo-text">东软越通后台管理系统</span>
    </div>
    <div class="fc-header-right">
      <a class="text">{{companyName}}</a>
      <i class="icon iconfont yt-header-icon fc-icon-information" (click)="toggleSidebar()" title="消息"></i>
      <i class="icon iconfont yt-header-icon fc-icon-peizhi" title="设置"></i>
      <i class="icon iconfont yt-header-icon fc-icon-wode" title="我的"></i>
      <i class="icon iconfont yt-header-icon fc-icon-tuichu" (click)="siginout()" title="退出"></i>
    </div>
  </nz-header>
  <nz-layout style="width: 100%;">
    <!-- 菜单导航 -->
    <nz-sider [(nzWidth)]="menuWidth" class="sidebar-menu" style="background:#fff;">
      <ul nz-menu [nzMode]="'inline'" style="height: calc(100% - 40px);" [nzInlineCollapsed]="menuIsCollapsed">
        <ng-container *ngFor="let menu of _menus">
          <!-- 一级菜单，没有下级 -->
          <li nz-menu-item *ngIf="menu.HASCHILD==='N'" (click)="selectedMenu(menu)">
            <span title><i nz-icon type="user"></i>{{menu.MENUNAME}}</span>
          </li>
          <!-- 一级菜单，有下级 -->
          <li nz-submenu *ngIf="menu.HASCHILD==='Y' && menu.P_CHILDMENUS && menu.P_CHILDMENUS.length!==0">
            <span title><i nz-icon type="user"></i>{{menu.MENUNAME}}</span>
            <ul>
              <ng-container *ngFor="let childMenu of menu.P_CHILDMENUS">
                <!-- 二级菜单，没有下级 -->
                <li nz-menu-item *ngIf="childMenu.HASCHILD==='N'" (click)="selectedMenu(childMenu);">
                  <span title><i nz-icon type="user"></i>{{childMenu.MENUNAME}}</span>
                </li>
                <!-- 二级菜单，有下级 -->
                <li nz-submenu
                  *ngIf="childMenu.HASCHILD==='Y' && childMenu.P_CHILDMENUS && childMenu.P_CHILDMENUS.length!==0">
                  <span title><i nz-icon type="user"></i>{{childMenu.MENUNAME}}</span>
                  <ul>
                    <ng-container *ngFor="let grandSonMenu of childMenu.P_CHILDMENUS">
                      <!-- 三级级菜单，没有下级 -->
                      <li nz-menu-item *ngIf="grandSonMenu.HASCHILD==='N'" (click)="selectedMenu(grandSonMenu);">
                        <span title><i nz-icon type="user"></i>{{grandSonMenu.MENUNAME}}</span>
                      </li>
                      <!-- 三级菜单，有下级 -->
                      <li nz-submenu
                        *ngIf="grandSonMenu.HASCHILD==='Y' && grandSonMenu.P_CHILDMENUS && grandSonMenu.P_CHILDMENUS.length!==0">
                        <span title><i nz-icon type="user"></i>{{grandSonMenu.MENUNAME}}</span>
                        <ul>
                          <li nz-menu-item *ngFor="let lastChidMenu of grandSonMenu.P_CHILDMENUS"
                            (click)="selectedMenu(lastChidMenu)">
                            <span title><i nz-icon type="user"></i>{{lastChidMenu.MENUNAME}}</span>
                          </li>
                        </ul>
                      </li>
                    </ng-container>
                  </ul>
                </li>
              </ng-container>
            </ul>
          </li>
        </ng-container>
      </ul>
      <!-- 切换布局控制按钮 -->
      <div class="layout-toggle">
        <i class="icon iconfont fc-icon-arrowleft" (click)="toggleLayout()">
        </i>
      </div>
    </nz-sider>
    <nz-layout style="padding:0 24px 24px">
      <!-- 选项卡导航 -->
      <nz-tabset [nzType]="'card'" [nzSelectedIndex]="index">
        <nz-tab *ngFor="let tab of fcTabs" (nzClick)="selectedTabMenu(tab)" [nzTitle]="titleTemplate">
          <ng-template #titleTemplate>
            <div>{{ tab.name }}<i nz-icon type="close" class="ant-tabs-close-x" (click)="closeTab(tab)"></i></div>
          </ng-template>
        </nz-tab>
      </nz-tabset>
      <nz-content style="background:#fff; padding: 24px; min-height: 280px;height: 500px;overflow: auto;">
        <div style="color: red;font-size:100px;">
          <!-- 内容区 -->
          <router-outlet [ngStyle]="{'height':'100%'}"></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
<!-- 消息侧边栏 -->
<nz-drawer [nzWidth]="300" [nzMaskStyle]="{'top': '64px','background':'red'}"nzWrapClassName="navside" [nzMask]="false" [nzClosable]="false" [nzVisible]="navsideVisible"
  nzPlacement="right" nzTitle="" (nzOnClose)="closeNavSide()">
  <nz-tabset>
    <nz-tab [nzTitle]="titleTemplate">
      <ng-template #titleTemplate>未读消息</ng-template>
      <div>
        content1
      </div>
    </nz-tab>
    <nz-tab [nzTitle]="titleTemplate">
      <ng-template #titleTemplate>已读消息</ng-template>
      content2
    </nz-tab>
  </nz-tabset>
</nz-drawer>
