<!--
 * @Author: luohong
 * @LastEditors: luohong
 * @Description: 整体布局，包括顶部工具栏、左侧导航、侧边栏、选项卡导航、内容区
 * @email: luo.hong@neusoft.com
 * @Date: 2019-04-16 15:57:43
 * @LastEditTime: 2019-04-19 15:18:51
 -->
<nz-layout class="layout">
  <!-- 顶部工具栏 -->
  <nz-header>

    <div class="logo">
      <i class="icon iconfont fc-icon-tielu"></i>
      <span class="logo-text">{{ projectName }}</span>
    </div>
    <div class="fc-header-right">
      <i class="icon iconfont yt-header-icon fc-icon-information" (click)="toggleSidebar()" title="消息"></i>
      <i class="icon iconfont yt-header-icon fc-icon-peizhi" title="设置"></i>
      <i class="icon iconfont yt-header-icon fc-icon-wode" title="我的"></i>
      <i class="icon iconfont yt-header-icon fc-icon-tuichu" (click)="siginout()" title="退出"></i>
      <nz-avatar class="avatar" [nzSize]="32" nzIcon="user"></nz-avatar>
      <a class="text">{{companyName}}</a>
    </div>
  </nz-header>
  <nz-layout style="width: 100%;">
    <!-- 菜单导航 -->
    <nz-sider [(nzWidth)]="menuWidth"Ø class="sidebar-menu" style="background:#fff;">
      <ul nz-menu [nzMode]="'inline'" style="height: calc(100% - 40px);overflow: auto;"
        [nzInlineCollapsed]="menuIsCollapsed">
        <ng-container *ngFor="let menu of _menus">
          <!-- 一级菜单，没有下级 -->
          <li nz-menu-item *ngIf="menu.HASCHILD==='N'" (click)="selectedMenu(menu)" >
            <span title>
              <i class="icon iconfont menu-icon" [ngClass]="menu.MENUICON"></i>
              <span class="first-level-title">{{menu.MENUNAME}}</span>
            </span>
          </li>
          <!-- 一级菜单，有下级 -->
          <li nz-submenu [nzOpen]="true"
            *ngIf="menu.HASCHILD==='Y' && menu.P_CHILDMENUS && menu.P_CHILDMENUS.length!==0">
            <span title>
              <i class="icon iconfont menu-icon" [ngClass]="menu.MENUICON"></i>
              <span class="first-level-title">{{menu.MENUNAME}}</span></span>
            <ul>
              <ng-container *ngFor="let childMenu of menu.P_CHILDMENUS">
                <!-- 二级菜单，没有下级 -->
                <li nz-menu-item  *ngIf="childMenu.HASCHILD==='N'" (click)="selectedMenu(childMenu);">
                  <span title>
                    <span>{{childMenu.MENUNAME}}</span>
                  </span>
                </li>
                <!-- 二级菜单，有下级 -->
                <li nz-submenu
                  *ngIf="childMenu.HASCHILD==='Y' && childMenu.P_CHILDMENUS && childMenu.P_CHILDMENUS.length!==0">
                  <span title>
                    <i nz-icon [type]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                    <span>{{childMenu.MENUNAME}}</span>
                  </span>
                  <ul>
                    <ng-container *ngFor="let grandSonMenu of childMenu.P_CHILDMENUS">
                      <!-- 三级级菜单，没有下级 -->
                      <li nz-menu-item *ngIf="grandSonMenu.HASCHILD==='N'" (click)="selectedMenu(grandSonMenu);">
                        <span title>
                          <i nz-icon [type]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                          {{grandSonMenu.MENUNAME}}</span>
                      </li>
                      <!-- 三级菜单，有下级 -->
                      <li nz-submenu
                        *ngIf="grandSonMenu.HASCHILD==='Y' && grandSonMenu.P_CHILDMENUS && grandSonMenu.P_CHILDMENUS.length!==0">
                        <span title>
                          {{grandSonMenu.MENUNAME}}</span>
                        <ul>
                          <li nz-menu-item *ngFor="let lastChidMenu of grandSonMenu.P_CHILDMENUS"
                            (click)="selectedMenu(lastChidMenu)">
                            <span title><i class="icon iconfont menu-icon"
                                [ngClass]="lastChidMenu.MENUICON"></i>{{lastChidMenu.MENUNAME}}</span>
                          </li>
                        </ul>
                      </li>
                    </ng-container>
                  </ul>
                </li>
              </ng-container>
            </ul>
          </li>
        </ng-container>
      </ul>
      <!-- 切换布局控制按钮 -->
      <div class="layout-toggle">
        <i class="icon iconfont fc-icon-arrowleft" [ngClass]="{'arrowright':menuWidth===64}" (click)="toggleLayout()">
        </i>
      </div>
    </nz-sider>
    <nz-layout>
      <!-- 选项卡导航 -->
      <nz-tabset class="fc-tabnav" [nzType]="'line'" [nzSize]="'small'" [(nzSelectedIndex)]="fcSelectedIndex">
        <nz-tab *ngFor="let tab of fcTabs;index as i" (nzClick)="selectedTabMenu(tab)" [nzTitle]="titleTemplate">
          <ng-template #titleTemplate>
            <div [ngClass]="{'tab-home':i===0}">
              <i *ngIf="tab.icon!==''" class="icon iconfont" [ngClass]="tab.icon"></i>
              {{ tab.name }}<i *ngIf="i>0" nz-icon type="close" class="ant-tabs-close-x" (click)="closeTabNav(tab)"></i>
            </div>
          </ng-template>
        </nz-tab>
      </nz-tabset>
      <!-- 内容区 -->
      <nz-content class="fc-main-wrap">
        <div class="fc-main">
          <router-outlet [ngStyle]="{'height':'100%'}"></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
<!-- 消息侧边栏 -->
<div class="navside">
  <nz-drawer [nzWidth]="300" [nzMaskStyle]="{'height':'auto'}" nzWrapClassName="navside-drawer" [nzClosable]="false"
    [nzVisible]="navsideVisible" nzPlacement="right" nzTitle="" (nzOnClose)="closeNavSide()" #navside>
    <nz-tabset>
      <nz-tab [nzTitle]="titleTemplate">
        <ng-template #titleTemplate>未读消息</ng-template>
        <div>
          content1
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="titleTemplate">
        <ng-template #titleTemplate>已读消息</ng-template>
        content2
      </nz-tab>
    </nz-tabset>
  </nz-drawer>
</div>
