<ul nz-menu [nzMode]="'inline'" style="height:100%">
  <ng-container *ngFor="let menu of _menus">
    <!-- 一级菜单，没有下级 -->
    <li nz-menu-item *ngIf="menu.HASCHILD==='N'" (click)="selectedMenu(menu)">
      <span title><i nz-icon type="user"></i>{{menu.MENUNAME}}</span>
    </li>
    <!-- 一级菜单，有下级 -->
    <li nz-submenu *ngIf="menu.HASCHILD==='Y' && menu.P_CHILDMENUS.length!==0">
      <span title><i nz-icon type="user"></i>{{menu.MENUNAME}}</span>
      <ul>
        <ng-container *ngFor="let childMenu of menu.P_CHILDMENUS">
          <!-- 二级菜单，没有下级 -->
          <li nz-menu-item *ngIf="childMenu.HASCHILD==='N'" (click)="selectedMenu(childMenu);">
            <span title><i nz-icon type="user"></i>{{childMenu.MENUNAME}}</span>
          </li>
          <!-- 二级菜单，有下级 -->
          <li nz-submenu *ngIf="childMenu.HASCHILD==='Y' && childMenu.P_CHILDMENUS.length!==0">
            <span title><i nz-icon type="user"></i>{{childMenu.MENUNAME}}</span>
            <ul>
              <ng-container *ngFor="let grandSonMenu of childMenu.P_CHILDMENUS">
                <!-- 三级级菜单，没有下级 -->
                <li nz-menu-item *ngIf="grandSonMenu.HASCHILD==='N'" (click)="selectedMenu(grandSonMenu);">
                  <span title><i nz-icon type="user"></i>{{grandSonMenu.MENUNAME}}</span>
                </li>
                <!-- 三级菜单，有下级 -->
                <li nz-submenu *ngIf="grandSonMenu.HASCHILD==='Y' && grandSonMenu.P_CHILDMENUS.length!==0">
                  <span title><i nz-icon type="user"></i>{{grandSonMenu.MENUNAME}}</span>
                  <ul>
                    <li nz-menu-item *ngFor="let lastChidMenu of grandSonMenu.P_CHILDMENUS"
                      (click)="selectedMenu(lastChidMenu)">
                      <span title><i nz-icon type="user"></i>{{lastChidMenu.MENUNAME}}</span>
                    </li>
                  </ul>
                </li>
              </ng-container>
            </ul>
          </li>
        </ng-container>
      </ul>
    </li>
  </ng-container>
</ul>
