<!--
 * @Author: luohong
 * @Date: 2019-08-21 09:56:59
 * @LastEditors: luohong
 * @LastEditTime: 2019-08-21 17:14:00
 * @Description: 
 * @email: 3300536651@qq.com
 -->
<div class="fc-chart-page">
  <div nz-row [nzGutter]="20">
    <!-- 雷达图 -->
    <div nz-col [nzSpan]="12">
      <nz-card class="sys-home-card" nzTitle="雷达图" [nzBordered]="false">
        <div>
          <div id="chartRadar"></div>
        </div>
      </nz-card>
    </div>
    <!-- 基础环图 -->
    <div nz-col [nzSpan]="12">
      <nz-card class="sys-home-card" nzTitle="基础环图" [nzBordered]="false">
        <div>
          <div id="chartDonut"></div>
        </div>
      </nz-card>
    </div>
  </div>
</div>
