<div class="sigin-wrap">
  <div class="sigin">
    <div class="sigin-topbar">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="javascript:;">
              <i class="anticon anticon-api" style="font-size: 30px;
              color: #fff;
              margin-left: 30px;
              margin-top: 15px;"></i>
              <span style="color:#ffffff;font-size:30px;">{{_projectName}}</span>
            </a>
          </div>
        </div>
      </nav>
    </div>
    <div class="sigin-body">
      <div class="sigin-body-box">
        <!-- <div class="sigin-body-txt-box">
        </div> -->
        <div class="sigin-module">
          <h2>登录</h2>
          <div class="sigin-error">
            <div class="sigin-error-in" *ngIf="hasError">
              <i class="icon iconfont icon-error"></i>
              <span>{{msg}}用户名或者密码错误</span>
            </div>
          </div>
          <form class="sigin-form">
            <div class="form-group">
              <nz-input-group [nzSuffix]="suffixTemplate" [nzPrefix]="prefixTemplate">
                <input type="text" nz-input placeholder="请输入用户名admin" [(ngModel)]="userId" name="username" />
              </nz-input-group>
              <ng-template #prefixTemplate><i nz-icon type="user"></i></ng-template>
              <ng-template #suffixTemplate><i nz-icon type="close-circle" (click)="userId = ''" *ngIf="username"></i>
              </ng-template>

              <!--  没有单独的验证组件 -->
            </div>
            <div class="form-group">
              <nz-input-group [nzSuffix]="pwdSuffixTemplate" [nzPrefix]="pwdPrefixTemplate">
                <input type="text" nz-input placeholder="请输入密码admin" [(ngModel)]="password" name="password" />
              </nz-input-group>
              <ng-template #pwdSuffixTemplate><i nz-icon type="user"></i></ng-template>
              <ng-template #pwdPrefixTemplate><i nz-icon type="close-circle" (click)="password = ''"
                  *ngIf="password"></i>
              </ng-template>
              <!-- 没有单独的验证组件 -->
            </div>

            <p class="login-p">本系统推荐使用谷歌或火狐浏览器</p>
            <div class="sigin-submit">
              <button nz-button nzType="primary" (click)="login()">登录</button>
            </div>
            <div class="sigin-other">
              <span>
                <a href="javascript:;" class="sigin-other-link">忘记密码</a>
              </span>
              <span>
                <a href="javascript:;" class="sigin-other-link">忘记用户名</a>
              </span>
              <span>
                <a href="javascript:;" class="sigin-other-link" routerLink="/signup">我要注册</a>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
