<!--
 * @Author: honghong
 * @Date: 2019-10-11 17:55:22
 * @LastEditors: honghong
 * @LastEditTime: 2019-10-11 18:04:12
 * @Description: 
 * @email: 3300536651@qq.com
 -->
<div nz-row class="fc-row">
  <p>
    更多组件使用 请到: https://ng.ant.design/docs/introduce/zh
  </p>
  <div nz-col nzSpan="24">

    <nz-card nzTitle="按钮" class="fc-card">
      <button nz-button nzType="primary">Primary</button>
      <button nz-button nzType="default">Default</button>
      <button nz-button nzType="dashed">Dashed</button>
      <button nz-button nzType="danger">Danger</button>
      <button nz-button nzType="link">Link</button>
    </nz-card>
  </div>
</div>
