/*
 * @Author: honghong
 * @LastEditors: honghong
 * @Description: 首页的样式
 * @email: 3300536651@qq.com
 * @Date: 2019-04-16 15:57:43
 * @LastEditTime: 2019-10-16 09:50:06
 */
.fc-home-page {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 10px;
}

.sys-home-card {
  background: #fff;
  margin-top: 10px;
}

.sys-home-box {
  width: 100%;
  height: 92px;
  border-radius: 4px;
  color: #fff;
  padding: 16px;
}

::ng-deep .sys-home-box .ant-statistic-title {
  color: #fff;
}

.sys-home-box1 {
  background-color: #1890ff;
}

.sys-home-box2 {
  background-color: #52c41a;
}

.sys-home-box3 {
  background-color: #fa8c16;
}

.sys-home-box4 {
  background-color: #eb2f96;
}

.minibar {
  margin-top: 6px;
  margin-left: 35px;
}

// 时间轴
::ng-deep .fc-timeline .ant-timeline {
  padding-left: 150px;
}

::ng-deep .fc-timeline .ant-timeline .ant-timeline-item {
  padding-bottom: 40px;
}

::ng-deep .fc-timeline .ant-timeline .timelie-title {
  position: absolute;
  left: -150px;
  width: 115px;
  text-align: right;
}

::ng-deep .fc-timeline .ant-timeline .time {
  display: block;
}

// 日历
::ng-deep .fc-calendar .events {
  list-style: none;
  margin: 0;
  padding: 0;
}

::ng-deep .fc-calendar .events .ant-badge-status {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 12px;
}

::ng-deep .fc-calendar .notes-month {
  text-align: center;
  font-size: 28px;
}

::ng-deep .fc-calendar .notes-month section {
  font-size: 28px;
}

.fc-chart-box {
  position: relative;
}
