<!--
 * @Author: honghong
 * @LastEditors: honghong
 * @Description: 图片查看组件
 * @email: 3300536651@qq.com
 * @Date: 2019-04-16 15:57:43
 * @LastEditTime: 2019-04-17 10:45:21
 -->
<div class="imgview-wrap" >
  <div class="imgview-content">
    <img class="imgview-detail" [ngStyle]="styleJsonStr" [draggable]="true" (dragstart)="dargStart($event)"
      (drag)="drag($event)" (dragend)="dragEnd($event)" #imgDetail [src]="imgSrc" alt="图片" width="100%">
  </div>
  <div class="imgview-toolbar" [hidden] ="hidden">
    <span class="toolbar-action" (click)="enlarge($event)">
      <i class="icon anticon icon-pluscircleo" title="放大"></i>
    </span>
    <span class="toolbar-action" (click)="narrow($event)">
      <i class="icon anticon icon-minuscircleo" title="缩小"></i>
    </span>
    <!-- <span class="toolbar-action" (click)="qp($event)">
      <i class="icon iconfont fc-icon-magnify" title="全屏"></i>
    </span> -->
    <span class="toolbar-action" (click)="recovery($event)">
      <i class="icon anticon icon-reload1" title="恢复"></i>
    </span>
  </div>
</div>

<!-- <div class="imgview-content" *ngIf="currentPage === 1">
  <img class="imgview-detail" [ngStyle]="styleJsonStr" [draggable]="true" (dragstart)="dargStart($event)"
    (drag)="drag($event)" (dragend)="dragEnd($event)" #imgDetail [src]="imgSrc" alt="图片" width="100%">
</div> -->