<div class="page">
  <!-- 工具栏 -->
  <div class="fc-toolbar">
    <button nz-button nzType="primary" nzSize="default">新增下级项目</button>
  </div>
  <div class="page-body">
    <!-- 内容区 -->
    <div class="page-body-content">
      <div nz-row nzGutter="10">
        <!-- 左侧树 -->
        <div nz-col class="fc-left" nzSpan="6">
          <nz-tree
            #nzTreeComponent
            [nzData]="treeNodes"
            nzCheckable
            [nzCheckedKeys]="defaultCheckedKeys"
            [nzExpandedKeys]="defaultExpandedKeys"
            [nzSelectedKeys]="defaultSelectedKeys"
            (nzClick)="treeClick($event)"
            (nzCheckBoxChange)="treeCheck($event)"
            (nzExpandChange)="treeCheck($event)"
          >
          </nz-tree>
        </div>
        <!-- 右侧 -->
        <div nz-col class="gutter-row" nzSpan="18">
          <div cla> </div>
        </div>
      </div>
      <div class="fc-tlbform">
        <button nz-button nzType="primary" nzSize="large" nzShape="circle">保存</button>
        <button nz-button nzType="default" nzSize="large" nzShape="circle">返回</button>
      </div>
    </div>
  </div>
</div>
