<!--
 * @Author: luohong
 * @LastEditors: luohong
 * @Description: 预算项目
 * @email: 3300536651@qq.com
 * @Date: 2019-04-16 15:57:43
 * @LastEditTime: 2019-07-05 12:11:04
 -->
<div class="page">
  <!-- 工具栏 -->
  <div class="fc-toolbar" *ngIf="fcSelectedIndex===0">
    <button nz-button nzType="primary" nzSize="default" (click)="event('listAdd')">新增下级项目</button>
  </div>
  <div class="page-body">
    <!-- 内容区 -->
    <div class="page-body-content" nz-row nzGutter="10">
      <!-- 左侧树 -->
      <div nz-col class="fc-left" nzSpan="6">
        <div class="fc-left-head">
          <div nz-row [nzGutter]="8">
            <div nz-col class="label" nzSpan="6">
              一级分类
            </div>
            <div nz-col nzSpan="18">
              <nz-select style="width: 100%;" [(ngModel)]="firstClass" nzAllowClear nzPlaceHolder="请选择一级分类">
                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
              </nz-select>
            </div>
          </div>
          <div nz-row [nzGutter]="8" style="margin-top: 5px;">
            <div nz-col class="label" nzSpan="6">
              二级分类
            </div>
            <div nz-col nzSpan="18">
              <nz-select style="width: 100%;" [(ngModel)]="firstClass" nzAllowClear nzPlaceHolder="请选择一级分类">
                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
              </nz-select>
            </div>
          </div>
        </div>
        <div class="fc-left-content">
          <nz-tree #nzTreeComponent [nzData]="treeNodes" nzCheckable [nzCheckedKeys]="defaultCheckedKeys"
            [nzExpandedKeys]="defaultExpandedKeys" [nzSelectedKeys]="defaultSelectedKeys" (nzClick)="treeClick($event)"
            (nzCheckBoxChange)="treeCheck($event)" (nzExpandChange)="treeCheck($event)">
          </nz-tree>
        </div>
      </div>
      <!-- 右侧 -->
      <div nz-col class="fc-right" nzSpan="18">
        <nz-tabset [nzSelectedIndex]="fcSelectedIndex" nzSize="small" class="tab-wrap">
          <!-- 第一个选项卡 -->
          <nz-tab nzTitle="项目列表" [nzDisabled]="false">
            <div>
              <!-- 查询工具栏 -->
              <div class="fc-searchbar">
                <div nz-row [nzGutter]="24">
                  <div nz-row [nzGutter]="8" nz-col nzSpan="8">
                    <div nz-col class="label" nzSpan="6">
                      项目名称
                    </div>
                    <div nz-col nzSpan="18">
                      <input nz-input placeholder="请输入项目名称" [(ngModel)]="itemName" />
                    </div>
                  </div>
                  <div nz-row [nzGutter]="8" nz-col nzSpan="8">
                    <div nz-col class="label" nzSpan="6">
                      拼音码
                    </div>
                    <div nz-col nzSpan="18">
                      <input nz-input placeholder="请输入拼音码" [(ngModel)]="pinyinCode" />
                    </div>
                  </div>
                  <div nz-col nzSpan="8">
                    <button nz-button nzType="primary">查询</button>
                    <button nz-button nzType="default">重置</button>
                  </div>
                </div>
              </div>
              <nz-table #basicTable [nzData]="pageList" [nzBordered]="true" nzSize="small">
                <thead>
                  <tr>
                    <th>序号</th>
                    <th>分类</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of basicTable.data;index as i">
                    <td>{{ i+1 }}</td>
                    <td>{{ data?.SITEM_NAME }}</td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </nz-tab>
          <!-- 第二个选项卡 -->
          <nz-tab nzTitle="项目详细" [nzDisabled]="false">
            <div>
           
            </div>
          </nz-tab>
          <!-- 第三个选项卡 -->
          <nz-tab nzTitle="项目公式" [nzDisabled]="false">
            <div>
              x
            </div>
          </nz-tab>
        </nz-tabset>
      </div>
    </div>
  </div>
</div>
