<div class="fc-print">
  <h2>
    <b><font color="#009999">演示打印设计和定位套打票据:</font></b>
  </h2>
  <p>
    &nbsp;&nbsp;&nbsp;<font color="#009999">&nbsp;●</font>
    用Lodop可以设计出复杂的打印票据样式，先<a
      href="javascript:;"
      (click)="Preview1()"
      >打印预览</a
    >我设计的移动通讯公司发票，
  </p>
  <p>
    做这张票样我仅用了几分钟时间，仍得益于Lodop提供的辅助<a
      href="javascript:;"
      (click)="Design1()"
      >打印设计</a
    >功能。
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;
    <font color="#009999">●</font
    >当然真正的套打只输出填写内容，那就少了，看看套打的<a
      href="javascript:;"
      (click)="Preview2()"
      >打印预览</a
    >，套打的难点
  </p>
  <p>
    在于位置对准，如果你同一个页面程序要应付不同的打印机，完全可以将<a
      href="javascript:;"
      (click)="Setup2()"
      >打印维护</a
    >
  </p>
  <p>
    功能授权给操作者，打印维护中按钮“应用”结果保存在操作者自己的电脑上，保存时与
  </p>
  <p>“打印任务名”相对应，这样任何打印机都可以适应同一个页面程序了！</p>
  <p>
    &nbsp;&nbsp;&nbsp;<font color="#009999"> ●</font
    >在“打印维护”或“打印设计”中按住SHIFT用鼠标可多选目标，可调整纸张及明细项的位置、
  </p>
  <p>
    大小、字体、颜色、左右靠齐、粗斜体、下划线以及各式对齐等，调乱了可复原，也可
  </p>
  <p>
    恢复缺省布局风格。在打印设计时，&nbsp;按住CTRL再拖拽选中的对象，可实现快速复制。&nbsp;&nbsp;
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;
    <font color="#009999">●</font
    >如果是打印票据，是否实际打印输出是管理程序想知道的，<a
      href="javascript:;"
      (click)="RealPrint()"
      >选择打印</a
    >后，Lodop会返回结果。
  </p>
  <p>
    关于套打的进一步参考见：<a
      href="http://www.c-lodop.com/blogs/Blog008.html"
      target="_blank"
      >http://www.c-lodop.com/blogs/Blog008.html</a
    >
  </p>
  <p><a href="PrintSampIndex.html">&lt;&lt;回样例目录</a></p>
</div>
