<div class="fc-signup-wrap">
  <div style="position:absolute;left:0;top:0;">
    <i class="anticon anticon-api" style="font-size: 30px;
                        color: #333;
                        margin-left: 30px;
                        margin-top: 30px;"></i>
    <span style="color:#333;font-size:30px;">{{_projectName}}</span>
  </div>
  <div class="fc-signup">
    <div class="fc-signup-module">
      <h2 class="fc-signup-title">注册开发者账号</h2>
      <form>
        <div>
          <nz-input-group [nzSuffix]="suffixTemplate" [nzPrefix]="prefixTemplate">
            <input type="text" nz-input placeholder="请输入用户名" [(ngModel)]="username" />
          </nz-input-group>
          <ng-template #prefixTemplate><i nz-icon type="user"></i></ng-template>
          <ng-template #suffixTemplate><i nz-icon type="close-circle" (click)="username = ''" *ngIf="username"></i>
          </ng-template>
          <nz-input-group [nzSuffix]="pwdSuffixTemplate" [nzPrefix]="pwdPrefixTemplate">
            <input type="text" nz-input placeholder="请输入密码" [(ngModel)]="password" />
          </nz-input-group>
          <ng-template #pwdSuffixTemplate><i nz-icon type="user"></i></ng-template>
          <ng-template #pwdPrefixTemplate><i nz-icon type="close-circle" (click)="username = ''" *ngIf="password"></i>
          </ng-template>
        </div>
        <div class="has-account">
          <span>我有账号，立即
            <a href="javascript:;" routerLink="/signin" (click)="login()">登录</a>.</span>
        </div>
      </form>
    </div>
  </div>
</div>
