<!--
 * @Author: honghong
 * @Date: 2019-07-04 17:15:57
 * @LastEditors: honghong
 * @LastEditTime: 2019-10-15 10:45:00
 * @Description: 
 * @email: 3300536651@qq.com
 -->
<div class="edituser-dialog">
  <form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="oldPassword">旧密码</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="旧密码不能为空!">
        <input nz-input type="password" formControlName="oldPassword" id="oldPassword" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="newPassword" nzRequired>新密码</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="新密码不能为空!">
        <input nz-input type="password" id="newPassword" formControlName="newPassword" />
      </nz-form-control>
    </nz-form-item>
  </form>
  <div class="edituser-dialog-footer">
    <button nz-button nzSize="large" style="margin-right: 10px;" [nzType]="'default'"
      (click)="handleCancel()">取消</button>
    <button nz-button nzSize="large" [nzType]="'primary'" (click)="handleOk()">确认修改</button>
  </div>
</div>
